<div class="row2">
  <div class="container3">
    <h3><%= link_to todo.title,todo_path(todo.id),method: :get%></h3>
    <div class="sabu">
      投稿者: <%= todo.user.name %>
    </div>
    <div class="sabu">
      カテゴリー: <%= todo.category.name %>
    </div>
    <div class="sabu">
      閲覧範囲: <%= todo.roll.name %>
    </div>
    <div class="sabu">
      <span class="ccccc">投稿日時: <%= l todo.created_at %></span>
    </div>
    <div class="sabu">
      <span class="ccccc">最終編集日時: <%= l todo.updated_at %></span>
    </div>
  </div>
</div>
