<h1>店舗内連絡掲示板</h1>
<% if user_signed_in? %>
	<div class="nav__right">
    <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: :nav__logout %>
    <%= link_to current_user.name, "#", class: "user-nickname" %>
  </div>
<% else %>
  <div class="nav__right">
	  <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
    <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
  </div>
<% end %>
  <div>
    <%= link_to "投稿", new_todo_path, class: :nav__btn %>
  </div>


<%= form_with(url: search_todos_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "タイトルと内容を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<%= search_form_for @p, url: searchh_todos_path do |f| %>
  <%= f.collection_select :title_eq, @todo_title, :title, :title,  include_blank: '指定なし' %>
  <br>
  <%= f.submit '検索' %>
<% end %>

---------
<% if user_signed_in? %>
  <% @todos.each do |t| %>
    <div>
      <%= link_to t.title,todo_path(t.id),method: :get%>
      投稿者 <%= t.user.name %>
    </div>
  <% end %>
<% else %>
  <div>ログインして下さい</div>
<% end %>