<h1>店舗内連絡掲示板</h1>
<% if user_signed_in? %>
	<div class="nav__right">
    <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: :nav__logout %>
    <%= link_to current_user.name, "#", class: "user-nickname" %>
  </div>
<% else %>
  <div class="nav__right">
	  <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
    <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
  </div>
<% end %>
  <div>
    <%= link_to "投稿", new_todo_path, class: :nav__btn %>
  </div>


---------


<% if user_signed_in? %>
  <% @todos.each do |t| %>
    <div>
      <%= link_to t.title,todo_path(t.id),method: :get%>
      投稿者 <%= t.user.name %>
    </div>
  <% end %>
<% else %>
  <div>ログインして下さい</div>
<% end %>