<%= form_with(url: search_todos_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
---------
<% if user_signed_in? %>
  <% if can? :read, :ptn %>
    <p>-----ptnだけ表示されている</p>
    <%= render partial: 'todo',collection: @roll1 %>
  <% end %>

  <% if can? :read, :ptnreader %>
    <p>----Ptn主任だけ表示されている</p>
    <%= render partial: 'todo',collection: @roll2 %>
  <% end %>

  <% if can? :read, :employee %>
    <p>---社員だけ表示されている</p>
    <%= render partial: 'todo',collection: @roll3 %>
  <% end %>

  <% if can? :read, :deputy %>
    <p>--副店長だけ表示されている</p>
    <%= render partial: 'todo',collection: @roll4 %>
  <% end %>

  <% if can? :manege,:all %>
    <p>-店長だけ表示されている</p>
    <%= render partial: 'todo',collection: @roll5 %>
  <% end %>
<% else %>
  <div>ログインして下さい</div>
<% end %>

---------
<div>
  <%= link_to "検索条件を無くす", root_path %>
</div>