<div class="contents row2">
  <div class="container">
    <h2>検索結果</h2>
    <%= link_to 'トップページへ戻る', root_path ,class:"modorubtn"%>
    <% if can? :read, :ptn %>
      <h2>投稿一覧</h2>
      <%= render partial: 'todo',collection: @searchh1%>
    <% elsif can? :read, :ptnreader %>
      <h2>Ptn主任用一覧</h2>
      <%= render partial: 'todo',collection: @searchh2 %>
    <% elsif can? :read, :employee %>
      <h2>社員用一覧</h2>
      <%= render partial: 'todo',collection: @searchh3 %>
    <% elsif can? :read, :deputy %>
      <h2>副店長用一覧</h2>
      <%= render partial: 'todo',collection: @searchh4 %>
    <% elsif can? :read,:mng %>
      <h2>店長用一覧</h2>
      <%= render partial: 'todo',collection: @searchh %>
    <% end %>
  </div>
</div>


