<%= form_with(url: search_todos_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
    <div class="contents row2">
      <div class="container">
        <% if can? :read, :ptn %>
          <p>＜投稿一覧＞</p>
          <%= render partial: 'todo',collection: @roll1%>
        <% elsif can? :read, :ptnreader %>
          <p>＜Ptn主任用投稿一覧＞</p>
          <%= render partial: 'todo',collection: @roll2 %>
        <% elsif can? :read, :employee %>
          <p>＜社員用投稿一覧＞</p>
          <%= render partial: 'todo',collection: @roll3 %>
        <% elsif can? :read, :deputy %>
          <p>＜副店長用投稿一覧＞</p>
          <%= render partial: 'todo',collection: @roll4 %>
        <% elsif can? :read,:mng %>
          <p>＜店長用全投稿一覧＞</p>
          <%= render partial: 'todo',collection: @todos %>
        <% end %>
        <div><%= link_to "検索条件を無くす", root_path %></div>
      </div>
    </div>
  </div>
</div>