<h2 >
  <%= @todo.title %>
</h2>

<div>
  <%= simple_format(@todo.content) %>
</div>

<div>
  <%= @todo.user.name %>
</div>

<%# 画像がある場合は表示する %>
<% if @todo.image.present? %>
<div >
  <%= image_tag @todo.image %>
</div>
<% end %>
<%# 画像がある場合は表示する %>

<%# ログイン・ログアウトの判定、ログアウト状態だと表示しない %>
<% if user_signed_in?%> 
  <%# 投稿した本人が詳細ページを見た時の処理 %>
  <% if current_user.id == @todo.user_id %>
    <%= link_to "商品の編集", edit_todo_path(@todo.id), method: :get, class: "item-red-btn" %>
    <%= link_to "削除", todo_path(@todo.id),method: :delete, class:"item-destroy" %>
  <% end %>
  <%# 投稿した本人が詳細ページを見た時の処理 %>
<% end %>
<%# ログイン・ログアウトの判定、ログアウト状態だと表示しない %>

  <div>
    <% if user_signed_in? %>
      <%= form_with(model: [@todo, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <div class="img-upload">
            <div class="weight-bold-text">
              画像が必要であれば
            </div>
            <div class="click-upload">
              <p>
                クリックしてファイルをアップロード
              </p>
              <%= form.file_field :image, id:"item-image" %>
            </div>
          </div>

        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>



    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <%= link_to comment.user.name, "/users/#{comment.user_id}" %>：
          <%= comment.text %>
        </p>
        <% if comment.image.present? %>
          <div >
            <%= image_tag comment.image %>
          </div>
        <% end %>
      <% end %>
    </div>


<div>
  <%= link_to "もどる", root_path %>
</div>
